.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
  background-color: rgb(210, 246, 224);
}

.navbar .logo {
  width: max(5%, 40px);
  border-radius: 20px;
}

.navbar .profile {
  width: 40px;
}
